#header-nav{
    background-color: gray;
    margin-bottom: 20px;
    border: 3px solid;
}
.icon-bar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.sec{
    background-color: gray;
    padding: 20px;
    margin: 20px;
}
h2,h1{
    text-align: center;
}
h1{
    left: 0;
}
button{
    visibility: hidden;
    border: 3px solid;
}
button:hover{
    border-color: gray;
}
@media (max-width:767px){
  button{
    visibility: visible;
}  
    
}
